.grid {
  display: -ms-grid;
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  grid-template-rows: auto;
  column-gap: 16px;
  row-gap: 16px;
  margin-top: 50px;
}
.grid__card {
  position: relative;
  background-color: #fff;
  border-radius: 11px;
  max-width: 280px;
  height: 361px;
  z-index: 1;
}
.card__image {
  position: relative;
}
.card__delete_hidden {
  display: none;
}
.card__delete {
  position: absolute;
  background-image: url(../images/delete-card.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  width: 28px;
  height: 19.3px;
  margin-left: 245px;
  margin-top: 10px;
  cursor: pointer;
}
.grid__image {
  width: 100%;
  height: 282px;
  margin: 0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.grid__name {
  color: #000;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 216px;
  font-size: 24px;
  font-weight: 900;
  line-height: 29.05px;
  margin-top: 25px;
  margin-left: 21px;
  margin-bottom: 0;

  height: 27px;
}
.grid__like {
  position: absolute;
  bottom: 28.5px;
  margin-left: 247px;
  height: 19px;
  width: 21px;
  border: none;
  cursor: pointer;
  background-color: transparent;
  background-image: url(../images/heart.png);
  background-position: center;
  background-repeat: no-repeat;
}
.grid__like:hover {
  background-image: url(../images/heart-over.png);
}
.grid__like_active {
  height: 19px;
  width: 21px;
  margin-top: 5px;
  border: none;
  cursor: pointer;
  background-color: transparent;
  background-image: url(../images/heart-active.png);
  background-repeat: no-repeat;
  background-position: center;
}
.grid__card_delete {
  position: absolute;
  left: 500px;
}
@media screen and (max-width: 665px) {
.grid {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
.grid__card {
    width: 100%;
  }
}
@media screen and (max-width: 425px) {
.grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 2310px;
    margin: auto;
    margin-top: 36px;
    row-gap: 20px;
    width: 100%;
  }
}
