.header {
  display: flex;
  flex-direction: column;

  margin: auto;
  margin-top: 45px;
  width: 68.75%;
  height: 74px;
}
.header__logo {
  margin: 0;
  height: 33px;
  width: 19.659%;
}
.header__button {
  width: 10.625%;
  height: 44px;
  background: none;
  border: none;
  color: #ffffff;
  font-family: "Inter";
  font-size: 16px;
  border-radius: 5px;
  margin-top: -40px;
  text-decoration: none;
}
.header__button-login {
  margin-left: 89%;

  width: 11.625%;
}
.header__button-register {
  margin-left: 91%;
}
.header__button-email {
  margin-top: -40px;
  margin-left: 72%;
  font-size: 16px;
  font-family: "Inter";
  color: #ffffff;
}
.header__button-logout {
  width: 110px;

  margin-left: 85%;
}
.header__line {
  border: 1px solid #545454;
  margin-top: 41px;
  margin-bottom: 0;
}

@media screen and (max-width: 665px) {
  .header {
    width: 100%;
    margin: 0;
    margin-top: 28px;
  }
  .header__logo {
    width: 39.375%;
    margin-left: 27px;
  }
  .header__line {
    margin-top: 32px;
  }
  .header__button-email {
    margin-left: 53%;
  }
  .header__button-logout {
    margin-left: 70%;
  }
  .header__button-login {
    margin-left: 80%;
  }
  .header__button-register {
    margin-left: 80%;
  }
}
